/* --- Media ---*/

@media (1000px <= width <=1200px) {
  .main-left {
    display: none;
  }

  main .container {
    grid-template-columns: auto 30dvw;
  }
}

@media (width < 1000px) {
  .main-left {
    display: none;
  }

  .main-right {
    display: none;
  }

  main .container {
    grid-template-columns: auto;
  }
}

@media (width < 720px) {
  :root {
    font-size: 10px;
  }
}

/* @media (width < 800px) {
  :root {
    font-size: 6px;
  }
} */
