// Search
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-white);

  padding: 0.7rem 2rem;
  border-radius: 2rem;

}

.search-bar input[type="search"] {
  background: transparent;
  width: 20dvw;
  max-width: 500px;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-black);
}

.search-bar input[type="search"]::placeholder {
  font-style: italic;
  color: var(--color-gray);
}