:root {
  --left-profile-bg-color: #fff;
  --left-profile-padding: 1rem;
  --left-profile-radius: 1rem;
}

.main-left {
  position: relative;
  height: calc(100dvh - 5.4rem);
  min-width: 200px;
  overflow-x: hidden; 
}

.main-left h2 {
  font-size: 0.9rem;
}

.main-left p {
  font-size: 0.7rem;
}