// Main Left Side

.main-left .sidebar {
  margin-top: 1rem;
  background: var(--left-profile-bg-color);
  border-radius: var(--left-profile-radius);

}

.main-left .sidebar .menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 1.5rem;
}
.main-left .sidebar .menu-item:hover {
  background: var(--color-white);
}

.main-left .sidebar .menu-item i {
  position: relative;
  font-size: 1.4rem;
  margin-left: 2rem;
}

.main-left .profile-area {
  display: flex;
  padding: var(--left-profile-padding);
  align-items: center;
  gap: 1rem;
  margin-top: 0;
}

.main-left .profile-area p {
  color: var(--color-gray);
}

.main-left .btn.btn-primary {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}